<h2>All People</h2>

<ul>
  <% @people.each do |person| %>
    <li><%= full_name(person) %></li>
  <% end %>
</ul>

<ul>
  <% full_names(@people).each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>

